#Header{
    min-height:90px;
    background-color: #FFB800;
}

body{
    margin:0;
}

#Content{
    padding-top: 30px;
    display: table;
    width: 100%;
}

#Footer{
    min-height:120px;
    background-color: #FFB800;
}

.section{
    width: auto;
    position: relative;
}

.column{
    width:98%;
    position: relative;
    margin:0 1% 40px;
}

.flex-section .section_wrapper{
    display: flex;
}

.w-20{
    width: 18%;
    float: left;
    display: block;
}

.w-10{
    width: 8%;
    float: left;
    display: block;
}

.w-70{
    width: 68%;
    float: left;
    display: block;
}

.image_wrapper{
    display: block;
    position: relative;
    overflow: hidden;
}

img{
    width: 100%;
}

.search-form form > input#site-search,.search-form form > label, .search-form form > button{
    clear: both;
    display: block;
    margin-bottom: 20px;
}

.search-form form > input#site-search{
    margin-bottom: 0px;
    padding: 15px 10px;
}

.search-form form > input{
    margin-bottom: 0px;
    border-radius: 0;
    border: 1px solid#929292;
    padding: 5px;
}

.search-form ul{
    margin:0;
    padding:0;
    list-style: none;
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.search-form ul.open{
    border: 1px solid#929292;
    padding:5px;
    
}

.search-form ul li{
    border-radius: 5px;
    padding: 5px 2px;
}

.search-form ul li:hover,.search-form ul li.selected{
    cursor:pointer;
    background: #fef0d0;
}

.search-form form > input#site-search,.search-form form > label{
    width: 100%;
}

.banner-tablet{
    display: none;
}

#submit-btn{
    background-color:#FFB800;
    color:white;
    border: none;
    padding: 10px;
    position: relative;
}

#submit-btn:hover{
    cursor: pointer;
    transition: ease 0.4s;
    background-color:rgb(184, 132, 0);
}

.invalid-param{
    pointer-events: none;
}

@media screen and (max-width:1240px){
    .column.banner{
        display: none;
    }

    .column.logo{
        width:18%;
    }

    .column.search{
        width: 78%;
    }

    .banner-tablet{
        display: block;
        clear: both;
        height: 30vh;
        margin: 0;
        width: 100%;
        overflow: hidden;
        background-image: url('./coffee-apple-iphone-smartphone.jpg');
        background-size: cover;
    }

    .banner-tablet div,.banner-tablet img{
        max-height: 200px;
    }
}

@media screen and (max-width:960px){

}

@media screen and (max-width:767px){
    .column.logo{
        width:23%;
        display: table;
        margin: 0 auto 20px;
        float: initial;
    }

    .column.search{
        width: 98%;
    }

}